

.navbar .navbar-brand{
    margin-left: 50px;
  }

.test{
    padding-top: 20px;

}
.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #FF3333;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF3333;
  cursor: pointer;
}
.chart-container{
	height:200; 
	width:200;
}