
:root {
  /* palette colors */
  /* from light to dark */
  --color0: #ffffff;
  --color1: #ffdc89;
  --color2: #eb8ea3;
  --color3: #06D6A0;
  --color4: #118AB2;
  --color5: #073B4C;
  --color6: #0099cc;
}

p{
 
  padding-left: 150px;
  padding-right: 150px
}


#radios2{
     display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}
#radios2wrap{
  position: sticky;
  background-color: var(--color0);
  top: 8px;
  left: 8px;
  width: 40%;
  padding: 16px 16px 16px 16px;
  border-style: solid;
  border-radius: 8px;
    border-width: 1px;
    border-color: var(--color5);

align-items: baseline;  }


.spacer2{
    width: 24px;
}
.selectedTrack{
       box-sizing: border-box;
    border-style: solid;
    border-width: 6px;
    border-color: var(--color5);

}

#singleInfo{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-end;
    padding-right: 32px;
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 16px;
    color: var(--color5);
        background-color: var(--color4);
}

#singleinfo th{
  color:black;
}

select{
  color: var(--color5);
}

#d22sels{
  color: var(--color5);
  font-weight: bold;
  position: sticky;
  width: min-content;
  padding: 8px 8px 16px 16px;
  height: 100px;
  top: 32px;
  left: 32px;
    /* border-style: solid; */
    /* background-color: var(--color0); */
  border-radius: 8px;
    /* border-width: 3px; */
    background-color: var(--color3);

}

#singleInfoWrap{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    font-size: large;
}
.circle{
    border-radius: 50%;
}

.track {
      border-radius: 50%;
      height: 50px;
      width: 50px;

}

.smalltrack {
      border-radius: 50%;
      height: 15px;
      width: 15px;

}

.row{
        display:flex;
    flex-flow: row wrap;
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
}

.div1{
    width: 20%;
    display:flex;
    justify-content: center;
    flex-flow: row wrap ;
  flex: 1 1 0px;
  border-radius: 16px;
padding:  12px 12px 8px 8px;
}
.spacer1{
    width: 8px;
}



#d22scatterwrap{
    width: 100wv;
  display: flex;
  justify-content: center;
}

#distributions{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
#div2{
    border-style: solid;
  border-radius: 12px;
  border-color: var(--color1);
  border-width: 6px;
}

#div1p{
        background-color: var(--color2)
}
#div1u{
    background-color: var(--color3);

}
#div1z{
        background-color: var(--color4);
}

body{
  padding-left: 32px;
  padding-right: 32px;
    background-color: var(--color0);

}
h1{
    color: var(--color5);
}
p{
    color: var(--color4);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




 /* Customize the label (the radio) */
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
 /* Customize the label (the tickbox) */
.tickbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: medium;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.tickbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  opacity: .2;
  background-color: var(--color3);
}

/* On mouse-over, add a grey background color */
.tickbox:hover input ~ .checkmark {
    opacity: 1;
  background-color:var(--color4);
}

/* When the checkbox is checked, add a blue background */
.tickbox input:checked ~ .checkmark {
     opacity: 1;
  background-color: var(--color5);
}

#div22 svg {
    pointer-events: none;
}
#div22 svg g{
  pointer-events: all;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tickboxwrap{
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 8px;
   padding-right:
   8px;
padding-top: 12px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
}

/* Show the checkmark when checked */
.tickbox input:checked ~ .checkmark:after {
  display: block;
}

.tooltip {
    position: absolute;
    text-align: center;
    /* width: 60px; */
    /* height: 28px; */
    padding: 2px;
    font: 12px sans-serif;
    background: var(--color1);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


/* Style the checkmark/indicator */
.tickbox .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





/* Section 4 */
#radios4{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;}
/* Customize the label (the tickbox) */
.tickbox4 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.tickbox4 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark4 {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    opacity: .2;
    background-color: var(--color3);
}

/* On mouse-over, add a grey background color */
.tickbox4:hover input ~ .checkmark4 {
    opacity: 1;
    background-color:var(--color4);
}

/* When the checkbox is checked, add a blue background */
.tickbox4 input:checked ~ .checkmark4 {
    opacity: 1;
    background-color: var(--color5);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark4:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.tickbox4 input:checked ~ .checkmark4:after {
    display: block;
}

/* Style the checkmark/indicator */
.tickbox4 .checkmark4:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.spacer4{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right:
            8px;
    padding-top: 12px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
}
